{% extends 'base.html.twig' %}

{% block title %} Flevallis -> Modifier un article {% endblock %}
{% block body_id %} app {% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    <center>
    <h1>Modifier un article</h1>

    <table style="width:80%; text-align:center; margin:auto">
        {{ form_start(updateArticleForm)}}
        {# {{ form_start(addThemeForm) }} #}

        <tr>
            <td style="width:15%; height:20px; text-align:left">
                {{ form_label(updateArticleForm.title, 'Titre : ') }}
            </td>
            <td style="width:15%; height:20px; text-align:left">
                {{ form_errors(updateArticleForm.title) }}
                {{ form_widget(updateArticleForm.title) }}
            </td>
            <td style="" rowspan="4">
                <b>Photo principale de l'article</b><br><br>
                {# <img src="imagesLoaders/{{ mainPictures.address }}" style="width:65%"/>             #}
                <img src="imagesLoaders/{{ mainPictures }}" style="width:65%"/>            
            </td>
        </tr>

        <tr>
            <td style="height:25%; text-align:left">
                {{ form_label(updateArticleForm.description, 'Description : ') }}
            </td>
            <td style="height:25%; text-align:left">
                {{ form_errors(updateArticleForm.description) }}
                {{ form_widget(updateArticleForm.description) }}
            </td>
        </tr>

        <tr>
            <td style="height:20px; text-align:left">
                {{ form_label(updateArticleForm.picturesMain, 'Photo principale : ') }}
            </td>
            <td style="height:20px; text-align:left">
                {{ form_errors(updateArticleForm.picturesMain) }}
                {{ form_widget(updateArticleForm.picturesMain) }}
            </td>
        </tr>

        <tr>
            <td style="height:20px; text-align:left">
                {{ form_label(updateArticleForm.pictures, 'Photos secondaires : ') }}
            </td>
            <td style="height:20px; text-align:left">
                {{ form_errors(updateArticleForm.pictures) }}
                {{ form_widget(updateArticleForm.pictures) }}
            </td>
        </tr>

        <tr>
            <td style="height:20px; text-align:left">
                {{ form_label(themes, 'Thèmes : ') }}
            </td>
            <td style="height:20px; text-align:left">
                {# {{ form_error(themes.name)}} #}
                {{ form_widget(themes.name)}}
            </td>
        </tr>

        {# <tr>
            <td style="height:20px; text-align:left">
                {{ form_label(addThemeForm, 'Thème : ')}}
            </td>
            <td>
                {{ form_errors(addThemeForm) }}
                {{ form_widget(addThemeForm) }}
            </td>
        </tr> #}
        {# {{ form_rest(addThemeForm) }} #}

        <br>
    </table>
    <br>
    <button class="btn" type="submit">Enregistrer</button>
    {{ form_end(updateArticleForm) }}
    {# {{ form_end(addThemeForm) }} #}

    {% include 'footer.html.php' %}
{% endblock %}